.title {
  user-select: none;
  cursor: pointer;
  justify-content: flex-start;
  padding-left: 0;
}

.no_padding {
  padding: 0;
}

.title_open {
  border-bottom: 1px solid var(--border, black);
}

.title_closed {
}

.icon-container {
  width: fit-content;
  padding: 1ex;
}

.icon {
  transition: transform 0.10s ease-in;
  width: 1ex;
  height: 1ex;
  /* This border is really the arrow for the dropdown, so we should treat it like text */
  border-color: var(--fg-text, black);
  border-style: solid;

  /* The thickness of the arrow should scale with the size of the font that it's near */
  border-width: 0 0.25ex 0.25ex 0;
}

.accordion-open {
  transform: translate(0, -25%) rotateZ(45deg);
}

.accordion-closed {
  transform: translate(-25%, 0) rotateZ(-45deg);
}

