input.invalid {
    border: 1px solid red;
}

pre.invalid {
    color: red;
}

#input, #roller {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

#input select {
    margin-bottom: 10px;
}

#input button {
    margin: 2px;
}
