@layer kado.app {
  .app.set-min-height-to-100vh {
    min-height: 100vh;
  }

  .app.dark {
    color-scheme:dark;
    background: var(--bg, #1a1d21);
  }
  
  .app.light {
    color-scheme:light;
    background: var(--bg, #e5e2de);
  }
}
