.resizable-using-css {
  resize: both;
  overflow: auto;
  width: 200px;
  height: 100px;
  border: 2px solid var(--js-form-unfocused-color);
}

.visibility-child {
  height: 2000px;
  width: 2000px;
}

.visibility-parent {
  height: 200px;
  width: 200px;
  overflow: scroll;
}

.resizer {
  height: 100%;
  width: 5px;
  display: inline-block;
  margin-left: 2px;
  background-color: var(--js-form-unfocused-color);
  right: 0px;
  top: 0px;
  position: absolute;
  cursor: col-resize;
}

.resizable-using-resizer {
  width: 300px;
  border: 2px solid var(--js-form-unfocused-color);
  position: relative;
  overflow: hidden;
}


* {
  box-sizing: border-box;
}

