@layer snips {
  :root:has(> body > .top),
  body:has(> .top),
  .top {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:clip;
  }
}

.header {
  background: var(--header-bg);
  font-size: 1.2em;
  padding:0.1em 0.5em;
}
.sidebar {
  background: var(--header-bg);
  padding:0.1em 0.5em;
}

.footer {
  background: var(--header-bg);
  border-top: 1px solid var(--border);
  padding: 0.2em 0.5em;
  display: flex;
  justify-content: end;
}

.table {
  padding: 1em;
  border-left: 1px solid var(--border);
}

.table2 {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  height:100%;

  background: var(--header-bg);
  border: 1px solid var(--border);
  border-radius:3px;
}

.table-header {
  padding: 0.5em;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

*:has( > .table-header):nth-child(1),
.details{
  border-top: 1px solid var(--border);
}

.table ,
.table-header {
  border-left: 1px solid var(--border);
}

.tabs {
  font-size: 0.9rem;
}

.details {
  padding: 1em;
  border-radius:3px;
}


