:root {
  --fast: 0.07s;
  --slow: 0.14s;
  --anim-style: linear;
  --gap: 8.485281374238px;
  --fill: calc(2 * var(--gap));
}

.btn {
  font-family: 'Inter', sans-serif;
  appearance: none;
  all: unset;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
  font-size: 1em;
  border: 0;
  text-align: left;
  padding: 2px 8px;
  margin: 3px 0 3px 0;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  outline-offset: -2px;
  outline: 1.0px solid var(--ol);
  transition: 
    var(--anim-style) var(--fast) outline, 
    var(--anim-style) var(--fast) outline-offset, 
    var(--anim-style) var(--fast) transform, 
    var(--anim-style) var(--fast) border-radius;

  /* custom variables */
  outline-color: var(--btn-bg);

  transform: translateZ(1px);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn:disabled {
  cursor: not-allowed;
  outline: none;
  background: 
    repeating-linear-gradient(
      45deg, var(--btn-bg), 
      var(--btn-bg) 6px, 
      var(--dsbl)   6px, 
      var(--dsbl)  12px);
}

.btn::after {
  content: "";
  box-sizing: border-box;
  border-radius: 2px;
  transform: translateZ(-1px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 0px;
  transition: linear 0.07s transform;
  background: inherit;
  filter: brightness(70%);
  z-index: 0;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  transform: translateY(-1px) translateZ(-1px);
}

.btn:hover:not(:disabled)::after,
.btn:focus:not(:disabled)::after {
  transform: translateY(1px) translateZ(-1px);
}

.btn:disabled::after {
  /* 6 root 2 */
  background: 
    repeating-linear-gradient(
      90deg, var(--btn-bg), 
      var(--btn-bg) var(--gap), 
      var(--dsbl)   var(--gap), 
      var(--dsbl)   var(--fill));
}

.btn:focus {
  outline-offset: -4px;
  outline: 4.0px solid var(--ol);
}

.btn:active:not(:disabled),
.btn.active:not(:disabled) {
  transform: translateY(3px);
  border-radius: 2px;
}

.btn:active:not(:disabled)::after,
.btn.active:not(:disabled)::after {
  transform: translateY(-3px) translateZ(-1px);
}

.btn u {
  text-underline-position: from-font;
  text-underline-offset: 1px;
  transition: var(--anim-style) var(--slow) text-decoration-color;
}

.btn:disabled u {
  text-decoration: none;
}

.btn u {
  text-decoration-color: var(--ol);
}

.btn:focus u {
  text-decoration-color: var(--btn-bg);
}

.btn.primary {
  --dsbl: #357eac;
  --ol: #b3defb;
}

.btn.warn {
  --dsbl: #ffdd79;
  --ol: #f5e5b5;
}

.btn.danger {
  --dsbl: #b23808;
  --ol: #f6d5cf;
}

.btn.safe {
  --dsbl: #549259;
  --ol: #caedcc;
}

.btn.subtle:not(:focus) {
  outline-offset: -2px;
  outline: var(--extreme_primary_border) solid 2px;
}

.btn.subtle {
  outline-offset: -4px;
  border-radius: 4px;
  --ol: #1BA1F2;
  --btn-bg: var(--extreme_primary_border);
  --dsbl: var(--extreme_primary_border);
}

.btn.subtle::after {
  background: var(--extreme_primary_border);
  filter: unset;
}

.btn::before {
    content: "";
    float: right;
    width: 0px;
    transition: linear var(--slow) width, linear var(--slow) padding-left;
    position: relative;
    top: -3px;
    max-height: 100%;
    height: 0;
}

.btn.small {
  font-size: 0.7em;
  font-weight: bold;
  padding: 3px 5px;
  text-transform: uppercase;
}

.btn.small u {
  text-decoration-thickness: 2px;
  text-underline-position: unset;
  text-underline-offset: unset;
}

div.btn-group-hz {
  display: flex;
  width: max-content;
}

div.btn-group-hz .btn:first-child,
div.btn-group-hz .btn:first-child::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.btn-group-hz .btn:last-child,
div.btn-group-hz .btn:last-child::after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 1px 0 0 0px var(--ol);
}

div.btn-group-hz .btn:not(:last-child):not(:first-child),
div.btn-group-hz .btn:not(:last-child):not(:first-child)::after {
  border-radius: 0;
  box-shadow: inset 1px 0 0 0px var(--ol);
}

div.btn-group-vrt {
  display: flex;
  flex-direction: column;
  width: max-content;
}

div.btn-group-vrt .btn:first-child,
div.btn-group-vrt .btn:first-child::after {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

div.btn-group-vrt .btn:last-child,
div.btn-group-vrt .btn:last-child::after {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.btn-group-vrt .btn:not(:last-child):not(:first-child),
div.btn-group-vrt .btn:not(:last-child):not(:first-child)::after {
  border-radius: 0;
  box-shadow: inset 0 1px 0 0px var(--ol);
}

div.btn-group-vrt .btn:not(:first-child) {
  margin-top: 0px;
}

@keyframes thinking {
    0%,
    100% { content: "⠋"; }
    25%  { content: "⠙"; }
    50%  { content: "⠴"; }
    75%  { content: "⠦"; }
}

.btn.thinking::before {
    width: 1em;
    animation: thinking 0.5s linear infinite;
    padding-left: 0.5em;
    margin-right: -0.25em;
}

