@layer kado.checkboxes {
  /* checkboxes */

  .button-box-container {
    display: inline-flex;
    position:relative;
    align-self:flex-start;

    margin:0.25em;
    padding-right:0.5em;

    background: var(--bg);
    border: 1px solid var(--border);
    border-radius:4px;

    white-space:pre;
    user-select:none;
    cursor:pointer;
  }

  .button-box-container:has(:focus-visible) {
    outline: 3px solid var(--touch);
    z-index:1;
    outline-offset: -3px;
  }

  .button-box-container > input {
    appearance: none;
    position:relative;

    margin: 0px;
    margin-right: 0.5em;

    font-size:inherit;
    line-height:1.2em;

    width: 1.2em;
    height: 1.2em;

    border-radius:0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;

    border: 1px solid transparent;
    border-right: 1px solid var(--border);

    outline: 0px;
    outline-offset:-1px;

    cursor:pointer;
  }

  .button-box-container > input:focus-visible {
    border: 1px solid var(--touch);
  }

  .button-box-container:has(input:checked) {
    background: #152632
  }

  .button-box-container > input:checked {
    background:var(--touch);
    border:0;
    outline: 1px solid var(--touch);
    outline-offset: 0px;
  }

  .button-box-container > input:focus-visible:not(:checked) {
    border-right: 1px solid var(--touch);
  }

  .button-box-container > input:not(:checked) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button-box-container > input:checked::before,
  .button-box-container:focus-visible > input::before,
  .button-box-container:hover > input::before,
  .button-box-container > input:checked::after,
  .button-box-container:focus-visible > input::before,
  .button-box-container:hover > input::after {
    content: "";
    display: block;
    position: absolute;
    background: currentcolor;
  }

  .button-box-container > input:checked::before,
  .button-box-container:focus-visible > input::before,
  .button-box-container:hover > input::before {
    width: 35%;
    height: 13%;
    transform: rotate(45deg) translate(145%,230%);
    border-bottom-right-radius: 1px;
  }

  .button-box-container > input:checked::after,
  .button-box-container:focus-visible > input::before,
  .button-box-container:hover > input::after {
    width: 65%;
    height: 15%;
    transform: translate(35%, 285%) rotate(309deg);
    border-bottom-left-radius: 1px;
  }

  .button-box-container:hover > input:checked,
  .button-box-container:focus-visible > input:checked {
    filter: brightness(1.2);
  }

  .button-box-container:hover > input:not(:checked)::before,
  .button-box-container:hover > input:not(:checked)::after {
    background: #3f444a;
  }

  /* vbox buttons */

  .vbox {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: stretch;

    margin: 0.25em;
  }

  .vbox > .button-box-container {
    margin: 0;
    align-self:unset;
  }

  .vbox > .button-box-container,
  .vbox > .button-box-container > input {
    border-radius:0;
  }

  .vbox > .button-box-container:first-child,
  .vbox > .button-box-container:first-child > input {
    border-top-left-radius: 3px;
  }

  .vbox > .button-box-container:first-child {
    border-top-right-radius: 3px;
  }

  .vbox > .button-box-container:last-child ,
  .vbox > .button-box-container:last-child > input {
    border-bottom-left-radius: 3px;
  }

  .vbox > .button-box-container:last-child {
    border-bottom-right-radius: 3px;
  }

  .vbox > .button-box-container:not(:first-child) {
    border-top:0;
  }
}
