body {
  font-size: 18px;
  line-height: 1.5em;
}

fieldset {
  background: var(--extreme-bg, white);
  padding: 1em;
  border-radius: 3px;
  border: 1px solid var(--extreme_primary_border, #858585);
  margin-top: 1em;

  display: flex;
  align-items: flex-start;
}

fieldset legend {
  color: var(--fg, rgb(60,60,60));
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size:0.7em;
}

.output_html button {
  color: #2196f3;
  background:none;
  border:0;
  font-size:inherit;
  font-family:inherit;
  cursor: pointer;
}

.output {
  background: repeating-conic-gradient(
    var(--extreme-bg, rgb(240,240,240)) 0% 25%,
    var(--bg, white) 0% 50%) 50% / 20px 20px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.hbox {
  display:flex;
}

pre {
  margin:0;
}

p {
  line-height: 1.5em;
  margin: 0.3em 0;
}

h1, h2 {
  margin-bottom:0;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.section {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  height:100%;
  column-gap: 2em;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;

  background: var(--bg, rgb(250, 250, 250));
  color: var(--fg, black);
}

.container {
  max-width: 900px;
  margin: auto;
}

.code_and_output {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  min-width: 900px;
  max-width: min-content;
}

.code_and_output > * {
    min-width:600px;
}

.cm-editor {
  background:unset !important;
}

.rendred_or_html_picker {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5em;
}

.rendred_or_html_picker label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1em;
  user-select:none;
}

.rendred_or_html_picker label input {
  margin: 0;
  padding: 0;
  margin-right: 0.25em;
}
